server {
    listen 8666;
    server_name _;

    root /var/www/rutorrent;
    index index.php index.html;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/tmp/php/php-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_read_timeout 300;
    }

    location /RPC2 {
        include scgi_params;
        scgi_pass unix:/run/rtorrent/rpc.socket;
    }

    location ~ /\.ht {
        deny all;
    }
}
